@use "../global/" as *;
.manage-cars {
    padding: 20px;
    background-color: #fbe9e7;
    /* Light Orange Tint */
    border-radius: 8px;

    h1 {
        margin-bottom: 20px;
        color: #000;
    }

    table {
        th {
            background-color: #ff5722;
            /* Orange */
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: #ffe0b2;
            /* Light Peach */
        }

        button {
            background-color: #ff5722;
            color: #fff;

            &:hover {
                background-color: #e64a19;
            }
        }
    }
}