@use "../global" as *;
.dashboard {
    padding: 20px;

    .header {
        background-color: #ff5722;
        /* Orange */
        color: #fff;
        padding: 10px 20px;
        border-radius: 8px;
    }

    .cards {
        display: flex;
        gap: 20px;
        margin: 20px 0;

        .card {
            flex: 1;
            background: #fff;
            border: 1px solid #ddd;
            padding: 20px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 8px;

            h3 {
                color: #ff5722;
                /* Orange */
            }

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
            }
        }
    }
}